<h1>Flat <%=@flat["id"] %></h1>

<img src='<%=@flat["imageUrl"]%>' alt="Flat Image" height='200'>
<p>Name: <%=@flat["name"]%></p>
<p>Price:<%=@flat["price"]%></p>
<%= link_to 'Return to flats', root_path %>

